button {
  pointer-events: auto !important;
}

/* Radio Color Custom Styles */
.radio-color-label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.radio-color-label .radio-input {
  margin: 0;
  /* visibility: hidden; */
  display: none;
}

.radio-color-label .radio-input:checked + span {
  border: 2px solid #1f74ec;
}

.radio-color-label .custom-radio {
  left: 0;
  top: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 2px solid #9a9a9a;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
/* for inner filled circle */
.radio-color-label .custom-radio::after {
  content: '';
  width: 10px;
  height: 10px;
  /* background: #ddcbfc; */
  position: absolute;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}

/* Login and Signup */
.auth-layout .ant-form-item-label label {
  color: white;
  font-size: 16px;
}
