/* Import Tailwind base styles */
@import 'tailwindcss/base';

/* Customize the default theme */
@tailwind base;

/* Additional customizations */
@tailwind components;
@tailwind utilities;

/* Reset and base styles */
select:disabled,
input:disabled {
  @apply bg-gray/light text-gray/dark;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  @apply outline-gray/dark outline outline-2;
  outline-offset: -1px;
}
